@import url('https://fontlibrary.org//face/steps-mono');

.logo{
    font-family: 'StepsMonoRegular';
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    background-color: purple;
    justify-content: center;
    width: 100vw;
    height:100vh;
}



.lotus{
    height:10vh;
} 

.images{
    background-image: url(./Images/Exp.avif);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo{
    flex-flow: row wrap;
    display: flex;
    height:auto;
    background-color: transparent;
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;

}





.hold{
    background-color: rgb(231, 110, 29);
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.FillerText{
    font-weight: 555;
    width: 90%;
    font-size: 1.2rem;
    padding-left: 5vw;
}

.Form{
    padding-left: 5vw;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inp{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.button{
    padding-left: 5vw;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

input{
    border-color: #E5E7EB;
    background-color:rgb(250, 250, 250);
    border: 1px solid rgb(119, 118, 118);
    border-radius: 3px;
}

input:focus{
    border-color: rgb(76, 76, 250);
    box-shadow: 5px 5px;
    outline: none;
}

@media only screen and (max-width: 600px)  {
    body{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .images{
        width: 100vw;
        height:15vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }

    .dummy-text{
        width: auto;
        margin-top: 30px;

    }

    .remote-text{
        padding: 20px 0;
        margin: 0;
    }
    .Form{
        flex-flow: column nowrap;
        align-items: center;
        padding: 10px 20px;

    }

    .hold{
        width: auto;
        height: auto;
    }

    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }

    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }

    .button,
    .log-in{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        padding: 10px 20px;
    }

    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }
}